# IDEA files
/.idea/
*.iml

# Build output
/out/
.build/
bin/

# Gradle build files
/.gradle/
build/
src/main/resources/docs/

# OS-specific files
.DS_Store

# Testing files
/text-ui-test/ACTUAL.TXT
/text-ui-test/EXPECTED-UNIX.TXT

# Ignore data directory
/data/
